<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        div {
            padding-top: 10px;
        }

    </style>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style_navbar.css"/>

    <title>Edit</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light  bg-navbar">
        <div class="container-xl">
            <a class="navbar-brand" href="startpage.html">
                <img src="static/img/public-transport.svg" alt="" width="30" height="24" class="d-inline-block align-top">
                Home
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<section>
    <form>
        <fieldset>
            <div class="container-xl">
                <div class="row">
                    <div class="col-sm-8">
                        <div>
                            <label for="numberRoute">Number route</label>
                            <input id="numberRoute" name="numberRoute" type="number" value="1" min="1">
                        </div>

                        <div>
                            <label for="length">Length (km)</label>
                            <input id="length" name="length" type="number" step="0.1" value="0.1" min="0.1">
                        </div>

                        <div>
                            <label for="lapTime">Lap time (min)</label>
                            <input id="lapTime" name="lapTime" type="number" value="1" min="1">
                        </div>

                        <div>
                            <label for="numberOfStops">Number of stops</label>
                            <input id="numberOfStops" name="numberOfStops" type="number" value="1" min="1">
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3">
                                <a href="route.html">
                                    <button class="btn btn-secondary" type="button">Back</button>
                                </a>
                            </div>
                            <div class="col-xl-9">
                                <form action="route.html">
                                    <button class="btn btn-success" type="submit"
                                            onclick="alert('new route created!!')">Save
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</section>

<footer>
    <hr/>
    <p class="container-xl">&copy;Created by Artsiom Prokharau 2021</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="static/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
</body>
</html>