<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>

        div {
            padding-top: 10px;
        }


    </style>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css"
          th:href="@{/resources/css/style.css}"/>

    <title th:text="${title}">Edit</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light  bg-navbar">
        <div class="container-xl">
            <a class="navbar-brand" href="startpage.html" th:href="@{/}">
                <img src="../../resources/images/public-transport.svg"
                     th:href="@{/resources/images/public-transport.svg}" alt="" width="30" height="24"
                     class="d-inline-block align-top">
                Home
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<section>
    <form th:action="@{/transport/{update} (update=${method})}" th:method="post" th:object="${transport}">
        <fieldset>
            <div class="container-xl">
                <div class="row">
                    <div class="col-sm-8">
                        <div>
                            <input type="hidden" th:field="*{transportId}"/>
                        </div>
                        <div>
                            <label for="type">Transport Type</label>
                            <select id="type" name="transportType" th:field="*{transportType}">
                                <option th:value="null" th:text="none"></option>
                                <option value="TRAM">Tram</option>
                                <option value="TROLLEY">Trolley</option>
                                <option value="BUS">Bus</option>
                            </select>
                            <th:block th:if="${#fields.hasErrors('transportType')}">
                                <div th:errorclass="invalid-input" th:errors="*{transportType}"></div>
                            </th:block>
                        </div>

                        <div>
                            <label for="fuelType">Fuel Type</label>
                            <select id="fuelType" name="fuel" th:field="*{fuelType}">
                                <option th:value="null" th:text="none"></option>
                                <option value="GASOLINE">Gasoline</option>
                                <option value="DIESEL">Diesel</option>
                                <option value="GAS">Gas</option>
                                <option value="ELECTRIC">Electric</option>
                            </select>
                            <th:block th:if="${#fields.hasErrors('fuelType')}">
                                <div th:errorclass="invalid-input" th:errors="*{fuelType}"></div>
                            </th:block>
                        </div>
                        <div>
                            <label for="registerNumber">Register number</label>
                            <input id="registerNumber" name="registerNumber" type="text" th:placeholder="${'0000 XX-0'}"
                                   th:field="*{registerNumber}">
                            <th:block th:if="${#fields.hasErrors('registerNumber')}">
                                <div th:errorclass="invalid-input" th:errors="*{registerNumber}"></div>
                            </th:block>
                        </div>

                        <div>
                            <label for="capacity">Capacity</label>
                            <input id="capacity" name="capacity" type="number" min="1" max="999"
                                   th:field="*{capacity}">
                            <th:block th:if="${#fields.hasErrors('capacity')}">
                                <div th:errorclass="invalid-input" th:errors="*{capacity}"></div>
                            </th:block>
                        </div>

                        <div>
                            <label for="date">Date of manufacture</label>
                            <input id="date" name="date" type="date" th:field="*{dateOfManufacture}">
                            <th:block th:if="${#fields.hasErrors('dateOfManufacture')}">
                                <div th:errorclass="invalid-input" th:errors="*{dateOfManufacture}"></div>
                            </th:block>
                        </div>

                        <div th:if="${hidden}">
                            <label for="numberRoute">Number route</label>
                            <select id="numberRoute" name="numberRoute" th:field="*{numberRoute}">
                                <option th:value="null" th:text="none"></option>
                                <option th:each=" route : ${allRoutes}" th:value="${route.numberRoute}"
                                        th:text="${route.numberRoute}">
                                </option>
                            </select>
                            <th:block th:if="${#fields.hasErrors('numberRoute')}">
                                <div th:errorclass="invalid-input" th:errors="*{numberRoute}"></div>
                            </th:block>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3">
                                <a href="transport.html"
                                   th:href="@{/transport}">
                                    <button class="btn btn-secondary" type="button">Back</button>
                                </a>
                            </div>
                            <div class="col-xl-9">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#create"
                                        class="btn btn-success " th:text="${title}">Save
                                </button>

                                <!--        MODAL SAVE                        -->
                            </div>
                            <div class="modal fade" id="create" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"
                                                th:text="${method} + ' transport' "> Transport</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body"
                                             th:text="'Are you sure you want to ' + ${method} + ' information about this transport?'">
                                            <h4>Are you sure you want to ... information about this transport?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <a href="transport.html"
                                               th:href="@{/transport/{update} (update=${method})}">
                                                <button type="submit" class="btn btn-success" th:text="${title}">Save
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</section>

<footer>
    <hr/>
    <p class="container-xl">&copy;Created by Artsiom Prokharau 2021</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="../../resources/js/bootstrap.min.js" th:href="@{/resources/js/bootstrap.min.js}"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
</body>
</html>